.App {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;  



}

.button {
  margin-left:10px;
}


.container {
  display: flex; /* Use flex layout */
  flex-direction: row; /* Lay out items horizontally (left to right) */
  flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
}



